<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="column">
                    <form method="post" class="box">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input is-info" type="text" name="name" placeholder="Text input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Image</label>
                            <div class="control">
                                <input class="input is-info" type="text" name="image" placeholder="URL of image">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Club</label>
                            <div class="field">
                                <div class=" select is-fullwidth">
                                    <select name="club">
                                        <% for(let club of clubList){%>
                                            <option value="<%= club.name%>">
                                                <%= club.name%>
                                            </option>
                                            <%}%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
</body>
</html> -->